<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="browser" value="Chrome"></parameter>
<listeners>
	<listener class-name="generate.report.Listeners"></listener>
</listeners>	
  <test thread-count="5" name="Test">
    <classes>
   <!--   <class name="testscript.ManageDeliveryBoyTest">
          <methods>
			  <include name="verifyNoNewDeliverBoyIsGettingCreatedIfMandatoryFieldsAreMissing"></include>
		      <include name="verifyDeliverBoyStatusGettingChangedByStatusButtonClick"></include>	
		      <include name="verifyAnyDeliverBoyPresentInTheListForAValidEmail"></include>	
		      <include name="verifyIsFirstRowOfDeliveryBoyIsDeletedByDeleteButtonClick"></include>
		  </methods>
	 </class>
     -->  <class name="testscript.LoginTest">
		  <methods>
			  <include name="verifyWhetherTheUserIsAbleToLoginWithValidCredentials"></include>
		  </methods>
	  </class>	
	<!--  <class name="testscript.AdminUsersTest"/>
	  <class name="testscript.ManageOrderTest"/>	    
	  <class name="testscript.ManageOfferCodeTest"/>
	  <class name="testscript.ManageProductTest"/>	    
   --> </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
